<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>110</key>
	<string>匪警</string>
	<key>119</key>
	<string>火警</string>
	<key>120</key>
	<string>急救中心</string>
	<key>122</key>
	<string>交通事故</string>
	<key>12110</key>
	<string>公安短信报警</string>
	<key>12395</key>
	<string>水上求救专用</string>
	<key>12121</key>
	<string>天气预报</string>
	<key>12117</key>
	<string>报时服务</string>
	<key>12119</key>
	<string>森林火警</string>
	<key>999</key>
	<string>红十字会急救台</string>
	<key>95555</key>
	<string>招商银行</string>
	<key>95566</key>
	<string>中国银行</string>
	<key>95533</key>
	<string>建设银行</string>
	<key>95588</key>
	<string>工商银行</string>
	<key>95558</key>
	<string>中信银行</string>
	<key>95599</key>
	<string>农业银行</string>
	<key>95568</key>
	<string>民生银行</string>
	<key>95595</key>
	<string>光大银行</string>
	<key>95559</key>
	<string>交通银行</string>
	<key>95508</key>
	<string>广发银行</string>
	<key>95528</key>
	<string>浦发银行</string>
	<key>95501</key>
	<string>深发银行</string>
	<key>95577</key>
	<string>华夏银行</string>
	<key>95561</key>
	<string>兴业银行</string>
	<key>10086</key>
	<string>中国移动客服</string>
	<key>10010</key>
	<string>中国联通客服</string>
	<key>10000</key>
	<string>中国电信客服</string>
	<key>17951</key>
	<string>中国移动IP号码</string>
	<key>17911</key>
	<string>中国联通IP号码</string>
	<key>17900</key>
	<string>中国电信IP号码</string>
	<key>114</key>
	<string>电话查询</string>
	<key>95598</key>
	<string>国家电网</string>
	<key>12318</key>
	<string>文化市场综合执法</string>
	<key>12315</key>
	<string>消费者申诉举报</string>
	<key>12358</key>
	<string>价格监督举报</string>
	<key>12365</key>
	<string>质量监督电话</string>
	<key>12310</key>
	<string>机构编制违规举报热线</string>
	<key>12369</key>
	<string>环保局监督电话</string>
	<key>12333</key>
	<string>民工维权热线电话</string>
	<key>12366</key>
	<string>税务局通用电话</string>
	<key>95518</key>
	<string>中国人保</string>
	<key>95519</key>
	<string>中国人寿</string>
	<key>95511</key>
	<string>中国平安</string>
	<key>95500</key>
	<string>太平洋保险</string>
	<key>95522</key>
	<string>泰康人寿</string>
	<key>95567</key>
	<string>新华人寿</string>
</dict>
</plist>
